name: Build Plugins

concurrency:
  group: "build"
  cancel-in-progress: true

on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          path: src

      - name: Checkout builds branch
        uses: actions/checkout@v4
        with:
          ref: builds
          token: ${{ secrets.GITHUB_TOKEN }}
          path: builds

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Set JitPack credentials
        run: |
          echo "JITPACK_USERNAME=${{ secrets.JITPACK_USERNAME }}" >> $GITHUB_ENV
          echo "JITPACK_TOKEN=${{ secrets.JITPACK_TOKEN }}" >> $GITHUB_ENV

      - name: Clean Gradle build cache
        run: |
          cd $GITHUB_WORKSPACE/src
          chmod +x gradlew
          ./gradlew clean --stacktrace --info

      - name: Build Plugins
        run: |
          cd $GITHUB_WORKSPACE/src
          chmod +x gradlew
          ./gradlew make makePluginsJson --stacktrace --info
          cp **/build/*.cs3 $GITHUB_WORKSPACE/builds || true
          cp build/plugins.json $GITHUB_WORKSPACE/builds || true

      - name: Push builds to builds branch
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd $GITHUB_WORKSPACE/builds
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Build ${GITHUB_SHA::7}" || exit 0
          git push origin HEAD:builds --force
